@CHARSET "UTF-8";
body{height:100%;
   width:100%;
   background-image:url("https://images.squarespace-cdn.com/content/v1/55976eebe4b0386248d26928/1437806071750-TB0QINDQORI65GF79FHY/ke17ZwdGBToddI8pDm48kPbDegkUzmQ9P7wVKTISxpoUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2ds6gaBC1jX9F8WHjGJg1gdpdCNdDZSAgsPAL9TB5bnmqm7cT0R_dexc_UL_zbpz6JQ/slide31.jpg?format=2500w");/*your background image*/  
   background-repeat:no-repeat;/*we want to have one single image not a repeated one*/  
   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/  
   /*css hack for ie*/     
}

#td1{
    resize: horizontal;
    color: red
}

#td2{
  text-transform: uppercase   
}

h1{
	color: blue
}

table{
    margin-left: 100px;
   
}

#a1{
	float: right;
}